/* start global styles */
h2, h4 {
	margin: 0;
	color: #F2CB05;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

th {
	text-align: left;
}

p, td {
	color: #FFFFFF;
	line-height: 29px;
	font-size: 95%;
}

body {			
	background: #000000;					
}
				
#wrapper {		
	width: 980px;
	margin: auto;
	margin-top: 30px;	
	font-family: Arial;
}

#navigation_bar {	
	height: 20px;
	background: #F20505;					
}

#navigation_bar ul {
	position: relative;
	top: -33px;
	margin-left: 400px;
}

#navigation_bar li {										
	display: inline-block;
}

#navigation_bar ul li a {					
	margin-left: 10px;
	padding: 5px 16px;
	font-family: Impact;				
	font-size: 125%;
	text-decoration: none;
	color: #FFFFFF;
}

#navigation_bar ul li a:hover {
	background: #F20505;
	color: #FFFFFF;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}								

#footer {
	height: 25px;
	background: #A7F205;	
	color: #000000;
	font-size: 70%;
	text-align: center;
	line-height: 25px;					
}
/* end global styles */

/* start about_us styles */
#about_us {
	display: inline-block;
	margin: 50px 0 50px;
	width: 420px;		
}

#about_us_image {
	width: 460px;
	height: 330px;
	margin: 50px 0 55px 70px;
	display: inline-block;
	vertical-align: top;
}
/* end about styles */

/* start menu styles */
#menu {
	width: 980px;
	margin: 50px 0 15px;
}

.item {	
	width: 260px;
}

.price {
	width: 50px;
}

.menu_column0 {	
	background: #83BF03;
	border-radius: 15px;
	margin-bottom: 10px;
}

.menu_column0 .menu_list {
	margin-left: 40px;
	margin-top: 15px;
	display: inline-block;
	vertical-align: top;
}

.menu_column0 th {
	color: #BF0404;
}

.menu_column0 td {
	color: #FFFFFF;
}

.menu_column0 .menu_images {
	margin-top: 20px;
	margin-left: 60px;
	margin-bottom: 20px;
	display: inline-block;
}

.menu_column1 {
	background: #BF0404;
	border-radius: 15px;
	margin-bottom: 10px;
}

.menu_column1 .menu_list {
	margin-top: 15px;
	margin-left: 40px;
	display: inline-block;
	vertical-align: top;
}
.menu_column1 th {
	color: #83BF03;
}

.menu_column1 td {
	color: #FFFFFF;
}

.menu_column1 .menu_images {
	margin-top: 20px;
	margin-left: 60px;
	margin-bottom: 20px;
	display: inline-block;
}
/* end menu styles */

/* start branches styles */
#branches {
	width: 980px;
	margin: 50px 0 15px;
}

.branches_line {
	height: 2px;
	background: #F2CB05;
	margin: 40px 0;
}

.branches_info {
	width: 430px;
	display: inline-block;
	vertical-align: top;
}

.branches_images {
	width: 460px;
	height: 287px;
	display: inline-block;
}
/* end branches styles */
